<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOPS !!!!! </title>
</head>
<body style="background-image: linear-gradient(to right,#bdc3c7, #2c3e50); ">
    <div class="container mx-25">
        <p style="color:#ff0000; font-size:larger; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Sorry our server couldn't find the requested page <strong style="color:black">{{slug}}</strong> 
        </p>
    </div>
    
</body>
</html>